.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: purple;
    border: none;
    border-bottom: .3rem solid darken(purple, 10);
    font-weight: 500;
    padding: $s-size;    
}